<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KollabTree-Green</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Header Section Start  -->
    <header>
        <!-- Navigation Section Start  -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./assets/images/kolab-logo-white.svg" alt="kolab-logo-white" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="animated-icon"><span></span><span></span><span></span><span></span></div>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">How it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Find an expert</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Browse projects</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Industry
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Hire experts with PhDs</a></li>
                                <li><a class="dropdown-item" href="#">Avg match in 24 hours</a></li>
                                <li><a class="dropdown-item" href="#">Flexible,secure payments</a></li>
                                <li><a class="dropdown-item" href="#">100% Satisfaction Guarantee</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                    </ul>
                    <div class="account">
                        <span style="color: #0ed7a0;">BECOME AN EXPERT</span>
                        <span style="margin-left:10px; margin-right: 10px;">SIGN UP</span>
                        <span>LOGIN</span>
                    </div>
                    <div class="service">
                        <button class="btn btngreen" type="submit">Request a Service</button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navigation Section End  -->
    </header>
    <!-- Header Section End  -->

    <!-- Home Page Section Start  -->
    <section id="bglightsea">
        <ul class="listyle">
            <li><a href="#">Data Science & Statistics</a></li>
            <li><a href="#">Scientific consulting</a></li>
            <li><a href="#">Statistical analysis expert</a></li>
            <li><a href="#">Scientific writing</a></li>
            <li><a href="#">Secondary research</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Scientists</a></li>
                    <li><a href="#">Researchers</a></li>
                    <li><a href="#">Experts</a></li>
                </ul>
            </li>
        </ul>
    </section>

    <section id="bgdarksea">
        <div class="container">
            <div class="wrapper bg-img">
                <div class="row">
                    <div class="col-lg-6 my-lg-auto">
                        <div class="freelance">
                            <h1>Hire freelance scientists and
                                researchers
                            </h1>
                            <p>Kolabtree helps businesses of all sizes consult top scientist to take their
                                projects to success.<u style="color:#0ed7a0">Post your project for fee</u> and get
                                quotes from experts
                                worldwide.
                            </p>
                        </div>
                        <div class="col-8 col-md-10 col-lg-10">
                            <form class="card card-sm">
                                <div class="card-body row align-items-center">
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless"
                                            type="search" placeholder="Search expert by skill">
                                    </div>

                                    <div class="col-auto">
                                        <button class="btn btn-sm" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <div class="imgscientists">
                            <img src="./assets/images/scientists.svg" class="img-fluid" alt="scientists" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Page Section End  -->

    <!-- Logo Section Start  -->
    <section id="logo-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 my-3 mx-auto">
                    <div class="business">
                        Trusted by <b>2,500+</b> Businesses
                    </div>
                </div>
                <div class="col-lg-2 col-4 my-lg-5 my-md-4 my-4">
                    <div class="volkswagen">
                        <a href="#"><img src="./assets/images/volkswagen.svg" class="img-fluid" alt="volkswagen"></a>
                    </div>
                </div>
                <div class="col-lg-1 col-4 my-lg-5 my-md-4 my-4">
                    <div class="sage">
                        <a href="#"><img src="./assets/images/sage.svg" class="img-fluid" alt="sage"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-4 my-lg-5 my-md-4 my-4">
                    <div class="technology">
                        <a href="#"><img src="./assets/images/technology.svg" class="img-fluid" alt="technology"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-4 my-lg-5 my-md-4 my-4">
                    <div class="convertize">
                        <a href="#"><img src="./assets/images/convertize.svg" class="img-fluid" alt="convertize"></a>
                    </div>
                </div>
                <div class="col-lg-1 col-4 my-lg-5 my-md-4 my-4">
                    <div class="threeB">
                        <a href="#"><img src="./assets/images/3B.svg" class="img-fluid" alt="3B"></a>
                    </div>
                </div>
                <div class="col-lg-1 col-4 my-lg-5 my-md-4 my-4">
                    <div class="micinsight">
                        <a href="#"><img src="./assets/images/micinsight.svg" class="img-fluid" alt="micinsight"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Logo Section End -->

    <!-- How It Works Section Start -->
    <section id="how-it-works" class="text-center">

        <h6>How it works</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="container">
            <div class="row">
                <div class="project col-lg-3 mx-auto">
                    <div class="card text-center">
                        <div class="bg-img">
                            <img src="./assets/images/project.svg" class="card-img-top" alt="project">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post project (Free)</h5>
                            <p class="card-text">Describe your project, choose
                                your budget, and select the
                                service you need.</p>
                        </div>
                    </div>
                </div>
                <div class="network col-lg-3 mx-auto">
                    <div class="card text-center">
                        <div class="bg-img">
                            <img src="./assets/images/network.svg" class="card-img-top" alt="network">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Choose the best expert</h5>
                            <p class="card-text">Get bids from relevant experts.
                                Interact freely with them before
                                making a hire.</p>
                        </div>
                    </div>
                </div>
                <div class="handshake col-lg-3 mx-auto">
                    <div class="card text-center">
                        <div class="bg-img">
                            <img src="./assets/images/handshake.svg" class="card-img-top" alt="handshake">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Collaborate</h5>
                            <p class="card-text">Share files, make audio/video
                                calls and collaborate with your
                                chosen expert.</p>
                        </div>
                    </div>
                </div>
                <div class="completedtask col-lg-3 mx-auto">
                    <div class="card text-center">
                        <div class="bg-img">
                            <img src="./assets/images/completedtask.svg" class="card-img-top" alt="completedtask">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Complete project</h5>
                            <p class="card-text">Verify the project is complete to
                                your satisfaction before paying
                                the expert.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service text-center mt-5">
            <button class="btn btngreen" type="submit">Request a Service</button>
        </div>

    </section>

    <!-- How It Works Section End-->

    <!-- Why Kolabtree Section Start -->
    <section id="why-kolabtree" class="text-center">

        <h6>Why Kolabtree</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="container">
            <div class="row">
                <div class="phds col-lg-3 mx-auto text-center">
                    <img src="./assets/images/phds.svg" class="img-fluid" alt="phds">
                    <h5>Hire experts with PhDs</h5>
                    <p>10,000+ freelance scientists from NASA, MIT, Cambridge and more.</p>
                </div>
                <div class="hours col-lg-3 mx-auto text-center">
                    <img src="./assets/images/hours.svg" class="img-fluid" alt="hours">
                    <h5>Avg match in 24 hours</h5>
                    <p>Get bids from experts in 24 hours. Interact freely before hiring.</p>
                </div>
                <div class="security col-lg-3 mx-auto text-center">
                    <img src="./assets/images/security.svg" class="img-fluid" alt="security">
                    <h5>Flexible, secure payments</h5>
                    <p>Pay a fixed or hourly fee. We hold
                        your funds in escrow until you’re
                        ready to pay.
                    </p>
                </div>
                <div class="happy col-lg-3 mx-auto text-center">
                    <img src="./assets/images/happy.svg" class="img-fluid" alt="happy">
                    <h5>100% Satisfaction Guarantee</h5>
                    <p>Release funds to the freelancer only
                        if you’re 100% happy with the
                        work done.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Kolabtree Section End -->

    <!-- Experts Section Start  -->
    <section id="experts" class="text-center">
        <h6>Access the global pool of trusted and reputed experts.
            Post your project free
        </h6>
        <div class="service my-4">
            <button class="btn btngreen" type="submit">Request a Service</button>
        </div>
        <div class="imgexperts">
            <img src="./assets/images/experts.svg" class="img-fluid" alt="experts" />
        </div>
    </section>
    <!-- Experts Section End -->

    <!-- Institutions Section Start  -->
    <section id="institutions" class="text-center">
        <h6>Kolabtree's freelancers are affiliated to top institutions worldwide</h6>
        <div class="institutions-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 my-lg-4 col-4">
                        <div class="imperial">
                            <a href="#"><img src="./assets/images/imperial.svg" class="img-fluid" alt="imperial"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 my-lg-4 col-4">
                        <div class="oxford">
                            <a href="#"><img src="./assets/images/oxford.svg" class="img-fluid" alt="oxford"></a>
                        </div>
                    </div>
                    <div class="col-lg-1 my-lg-4 col-4">
                        <div class="mcgill">
                            <a href="#"><img src="./assets/images/mcgill.svg" class="img-fluid" alt="mcgill"></a>
                        </div>
                    </div>
                    <div class="col-lg-1 my-lg-4 col-4">
                        <div class="ucla">
                            <a href="#"><img src="./assets/images/ucla.svg" class="img-fluid" alt="ucla"></a>
                        </div>
                    </div>
                    <div class="col-lg-1 my-lg-4 col-4">
                        <div class="yale">
                            <a href="#"><img src="./assets/images/yale.svg" class="img-fluid" alt="yale"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 my-lg-4 col-4">
                        <div class="barcelona">
                            <a href="#"><img src="./assets/images/barcelona.svg" class="img-fluid" alt="barcelona"></a>
                        </div>
                    </div>
                    <div class="col-lg-3 my-lg-4 col-12">
                        <div class="capetown">
                            <a href="#"><img src="./assets/images/capetown.svg" class="img-fluid" alt="capetown"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Institutions Section End  -->

    <!-- Services Section Start  -->
    <section id="services" class="text-center">
        <h6>Customizable Services</h6>
        <p>Take advantage of a wide range of customizable services</p>
        <div class="container">
            <div class="row">
                <div class="datascience">
                    <div class="card">
                        <img src="./assets/images/datascience.svg" class="card-img-top" alt="datascience">
                        <div class="card-body">
                            <p class="card-text">Data Science</p>
                        </div>
                    </div>
                </div>
                <div class="consulting">
                    <div class="card">
                        <img src="./assets/images/consulting.svg" class="card-img-top" alt="consulting">
                        <div class="card-body">
                            <p class="card-text">Scientific Consulting</p>
                        </div>
                    </div>
                </div>
                <div class="analysis">
                    <div class="card">
                        <img src="./assets/images/analysis.svg" class="card-img-top" alt="analysis">
                        <div class="card-body">
                            <p class="card-text">Statistical Analysis</p>
                        </div>
                    </div>
                </div>
                <div class="food">
                    <div class="card">
                        <img src="./assets/images/food.svg" class="card-img-top" alt="food">
                        <div class="card-body">
                            <p class="card-text">Food Science & Technology</p>
                        </div>
                    </div>
                </div>
                <div class="medical">
                    <div class="card">
                        <img src="./assets/images/medical.svg" class="card-img-top" alt="medical">
                        <div class="card-body">
                            <p class="card-text">Medical Writing</p>
                        </div>
                    </div>
                </div>
                <div class="research">
                    <div class="card">
                        <img src="./assets/images/research.svg" class="card-img-top" alt="research">
                        <div class="card-body">
                            <p class="card-text">Clinical Research & Consulting</p>
                        </div>
                    </div>
                </div>
                <div class="scientific">
                    <div class="card">
                        <img src="./assets/images/scientific.svg" class="card-img-top" alt="scientific">
                        <div class="card-body">
                            <p class="card-text">Scientific Writing</p>
                        </div>
                    </div>
                </div>
                <div class="secondary">
                    <div class="card">
                        <img src="./assets/images/secondary.svg" class="card-img-top" alt="secondary">
                        <div class="card-body">
                            <p class="card-text">Secondary Research</p>
                        </div>
                    </div>
                </div>
                <div class="search">
                    <div class="card">
                        <img src="./assets/images/search.svg" class="card-img-top" alt="search">
                        <div class="card-body">
                            <p class="card-text">Literature Search</p>
                        </div>
                    </div>
                </div>
                <div class="editing">
                    <div class="card">
                        <img src="./assets/images/editing.svg" class="card-img-top" alt="editing">
                        <div class="card-body">
                            <p class="card-text">Scientific Editing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Services Section End  -->

    <!-- Optional JavaScript -->
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Custom Js  -->
    <script src="./assets/js/script.js"></script>

</body>

</html>