<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KollabTree-Green</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Header Section Start  -->
    <header>
        <!-- Navigation Section Start  -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./assets/images/kolab-logo-white.svg" alt="kolab-logo-white" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="animated-icon"><span></span><span></span><span></span><span></span></div>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">How it works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Find an expert</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Browse projects</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Industry
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Hire experts with PhDs</a></li>
                                <li><a class="dropdown-item" href="#">Avg match in 24 hours</a></li>
                                <li><a class="dropdown-item" href="#">Flexible,secure payments</a></li>
                                <li><a class="dropdown-item" href="#">100% Satisfaction Guarantee</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                    </ul>
                    <div class="account">
                        <span style="color: #0ed7a0;">BECOME AN EXPERT</span>
                        <span style="margin-left:10px; margin-right: 10px;">SIGN UP</span>
                        <span>LOGIN</span>
                    </div>
                    <div class="service">
                        <button class="btn btngreen" type="submit">Request a Service</button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navigation Section End  -->
    </header>
    <!-- Header Section End  -->

    <!-- Home Page Section Start  -->
    <section id="bglightsea">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="listyle">
                        <li><a href="#">Data Science & Statistics</a></li>
                        <li><a href="#">Scientific consulting</a></li>
                        <li><a href="#">Statistical analysis expert</a></li>
                        <li><a href="#">Scientific writing</a></li>
                        <li><a href="#">Secondary research</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Scientists</a></li>
                                <li><a href="#">Researchers</a></li>
                                <li><a href="#">Experts</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="bgdarksea">
        <div class="container">
            <div class="wrapper bg-img">
                <div class="row">
                    <div class="col-lg-6 my-lg-auto">
                        <div class="freelance">
                            <h1>Hire freelance scientists and
                                researchers
                            </h1>
                            <p>Kolabtree helps businesses of all sizes consult top scientist to take their
                                projects to success.<u style="color:#0ed7a0">Post your project for fee</u> and get
                                quotes from experts
                                worldwide.
                            </p>
                        </div>
                        <div class="col-11 col-md-12 col-lg-10">
                            <form class="card card-sm">
                                <div class="card-body row align-items-center">
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless"
                                            type="search" placeholder="Search expert by skill">
                                    </div>

                                    <div class="col-auto">
                                        <button class="btn btn-sm" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 my-lg-3">
                        <div class="imgscientists">
                            <img src="./assets/images/scientists.svg" class="img-fluid" alt="scientists" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Page Section End  -->

    <!-- Logo Section Start  -->
    <section id="logo-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 my-3 mx-auto">
                    <div class="business">
                        Trusted by <b>2,500+</b> Businesses
                    </div>
                </div>
                <div class="col-lg-2 col-4 my-lg-5 my-md-4 my-4">
                    <div class="volkswagen">
                        <a href="#"><img src="./assets/images/volkswagen.svg" class="img-fluid" alt="volkswagen"></a>
                    </div>
                </div>
                <div class="col-lg-1 col-4 my-lg-5 my-md-4 my-4">
                    <div class="sage">
                        <a href="#"><img src="./assets/images/sage.svg" class="img-fluid" alt="sage"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-4 my-lg-5 my-md-4 my-4">
                    <div class="technology">
                        <a href="#"><img src="./assets/images/technology.svg" class="img-fluid" alt="technology"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-4 my-lg-5 my-md-4 my-4">
                    <div class="convertize">
                        <a href="#"><img src="./assets/images/convertize.svg" class="img-fluid" alt="convertize"></a>
                    </div>
                </div>
                <div class="col-lg-1 col-4 my-lg-5 my-md-4 my-4">
                    <div class="threeB">
                        <a href="#"><img src="./assets/images/3B.svg" class="img-fluid" alt="3B"></a>
                    </div>
                </div>
                <div class="col-lg-1 col-4 my-lg-5 my-md-4 my-4">
                    <div class="micinsight">
                        <a href="#"><img src="./assets/images/micinsight.svg" class="img-fluid" alt="micinsight"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Logo Section End -->

    <!-- How It Works Section Start -->
    <section id="how-it-works" class="text-center">

        <h6>How it works</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="container">
            <div class="row">
                <div class="project col-lg-3 col-md-6 mx-auto">
                    <div class="card text-center">
                        <div class="one">
                            <img src="./assets/images/one.svg" alt="one">
                        </div>
                        <div class="bg-img">
                            <img src="./assets/images/project.svg" class="card-img-top" alt="project">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post project (Free)</h5>
                            <p class="card-text">Describe your project, choose
                                your budget, and select the
                                service you need.</p>
                        </div>
                    </div>
                </div>
                <div class="network col-lg-3 col-md-6 mx-auto">
                    <div class="card text-center">
                        <div class="two">
                            <img src="./assets/images/two.svg" alt="two">
                        </div>
                        <div class="bg-img">
                            <img src="./assets/images/network.svg" class="card-img-top" alt="network">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Choose the best expert</h5>
                            <p class="card-text">Get bids from relevant experts.
                                Interact freely with them before
                                making a hire.</p>
                        </div>
                    </div>
                </div>
                <div class="handshake col-lg-3 col-md-6 mx-auto">
                    <div class="card text-center">
                        <div class="three">
                            <img src="./assets/images/three.svg" alt="three">
                        </div>
                        <div class="bg-img">
                            <img src="./assets/images/handshake.svg" class="card-img-top" alt="handshake">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Collaborate</h5>
                            <p class="card-text">Share files, make audio/video
                                calls and collaborate with your
                                chosen expert.</p>
                        </div>
                    </div>
                </div>
                <div class="completedtask col-lg-3 col-md-6 mx-auto">
                    <div class="card text-center">
                        <div class="four">
                            <img src="./assets/images/four.svg" alt="four">
                        </div>
                        <div class="bg-img">
                            <img src="./assets/images/completedtask.svg" class="card-img-top" alt="completedtask">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Complete project</h5>
                            <p class="card-text">Verify the project is complete to
                                your satisfaction before paying
                                the expert.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service text-center mt-lg-5">
            <button class="btn btngreen" type="submit">Request a Service</button>
        </div>

    </section>

    <!-- How It Works Section End-->

    <!-- Success Stories Section Start -->
    <section id="success-stories" class="text-center">
        <h6>Success Stories</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </section>
    <section id="stories">
        <div>
            <div class="container success-stories">
                <div class="row slider">
                    <div class="col-xl-12 col-md-12">
                        <div class="stories">
                            <div class="successimg">
                                <img src="./assets/images/research-data.png">
                            </div>
                            <div class="bgimg"></div>
                            <div class="position">
                                <h6>Statistical Analysis &VerticalLine; Healthcare

                                </h6>
                            </div>
                            <div class="task">
                                <h3>Verify research data</h3>
                            </div>
                            <div class="cost bgcolor">
                                <p>COST<br />$495</p>
                            </div>
                            <div class="time bgcolor">
                                <p>TIME TAKEN<br />2 WEEKS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="stories">
                            <div class="successimg">
                                <img src="./assets/images/tasty-bread.png" />
                            </div>
                            <div class="bgimg"></div>
                            <div class="position">
                                <h6>Stastical Analysis &VerticalLine; Food scientist</h6>
                            </div>
                            <div class="task">
                                <h3>Formulate tasty bread</h3>
                            </div>
                            <div class="cost bgcolor">
                                <p>COST<br />$800</p>
                            </div>
                            <div class="time bgcolor">
                                <p>TIME TAKEN<br/>2 WEEKS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="stories">
                            <div class="successimg">
                                <img src="./assets/images/research-data.png">
                            </div>
                            <div class="bgimg"></div>
                            <div class="position">
                                <h6>Statistical Analysis &VerticalLine; Healthcare</h6>
                            </div>
                            <div class="task">
                                <h3>Verify research data</h3>
                            </div>
                            <div class="cost bgcolor">
                                <p>COST<br />$495</p>
                            </div>
                            <div class="time bgcolor">
                                <p>TIME TAKEN<br />2 WEEKS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="stories">
                            <div class="successimg">
                                <img src="./assets/images/tasty-bread.png" />
                            </div>
                            <div class="bgimg"></div>
                            <div class="position">
                                <h6>Stastical Analysis &VerticalLine; Food scientist</h6>
                            </div>
                            <div class="task">
                                <h3>Formulate tasty bread</h3>
                            </div>
                            <div class="cost bgcolor">
                                <p>COST<br />$800</p>
                            </div>
                            <div class="time bgcolor">
                                <p>TIME TAKEN<br />2 WEEKS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="stories">
                            <div class="successimg">
                                <img src="./assets/images/research-data.png">
                            </div>
                            <div class="bgimg"></div>
                            <div class="position">
                                <h6>Statistical Analysis &VerticalLine; Healthcare</h6>
                            </div>
                            <div class="task">
                                <h3>Verify research data</h3>
                            </div>
                            <div class="cost bgcolor">
                                <p>COST<br />$495</p>
                            </div>
                            <div class="time bgcolor">
                                <p>TIME TAKEN<br />2 WEEKS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="stories">
                            <div class="successimg">
                                <img src="./assets/images/tasty-bread.png" />
                            </div>
                            <div class="bgimg"></div>
                            <div class="position">
                                <h6>Stastical Analysis &VerticalLine; Food scientist</h6>
                            </div>
                            <div class="task ">
                                <h3>Formulate tasty bread</h3>
                            </div>
                            <div class="cost bgcolor">
                                <p>COST<br />$800</p>
                            </div>
                            <div class="time bgcolor">
                                <p>TIME TAKEN<br />2 WEEKS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Success Stories Section End-->

    <!-- Why Kolabtree Section Start -->
    <section id="why-kolabtree" class="text-center">

        <h6>Why Kolabtree</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="container">
            <div class="row">
                <div class="phds col-lg-3 col-md-6 mx-auto text-center">
                    <img src="./assets/images/phds.svg" class="img-fluid" alt="phds">
                    <h5>Hire experts with PhDs</h5>
                    <p>10,000+ freelance scientists from NASA, MIT, Cambridge and more.</p>
                </div>
                <div class="hours col-lg-3 col-md-6 mx-auto text-center">
                    <img src="./assets/images/hours.svg" class="img-fluid" alt="hours">
                    <h5>Avg match in 24 hours</h5>
                    <p>Get bids from experts in 24 hours. Interact freely before hiring.</p>
                </div>
                <div class="security col-lg-3 col-md-6 mx-auto text-center">
                    <img src="./assets/images/security.svg" class="img-fluid" alt="security">
                    <h5>Flexible, secure payments</h5>
                    <p>Pay a fixed or hourly fee. We hold
                        your funds in escrow until you’re
                        ready to pay.
                    </p>
                </div>
                <div class="happy col-lg-3 col-md-6 mx-auto text-center">
                    <img src="./assets/images/happy.svg" class="img-fluid" alt="happy">
                    <h5>100% Satisfaction Guarantee</h5>
                    <p>Release funds to the freelancer only
                        if you’re 100% happy with the
                        work done.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Kolabtree Section End -->

    <!-- Experts Section Start  -->
    <section id="experts" class="text-center">
        <h6>Access the global pool of trusted and reputed experts.
            Post your project free
        </h6>
        <div class="service my-4">
            <button class="btn btngreen" type="submit">Request a Service</button>
        </div>
        <div class="imgexperts">
            <img src="./assets/images/experts.svg" class="img-fluid" alt="experts" />
        </div>
    </section>
    <!-- Experts Section End -->

    <!-- Institutions Section Start  -->
    <section id="institutions" class="text-center">
        <h6>Kolabtree's freelancers are affiliated to top institutions worldwide</h6>
        <div class="institutions-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 my-lg-4 col-4">
                        <div class="imperial">
                            <a href="#"><img src="./assets/images/imperial.svg" class="img-fluid" alt="imperial"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 my-lg-4 col-4">
                        <div class="oxford">
                            <a href="#"><img src="./assets/images/oxford.svg" class="img-fluid" alt="oxford"></a>
                        </div>
                    </div>
                    <div class="col-lg-1 my-lg-4 col-4">
                        <div class="mcgill">
                            <a href="#"><img src="./assets/images/mcgill.svg" class="img-fluid" alt="mcgill"></a>
                        </div>
                    </div>
                    <div class="col-lg-1 my-lg-4 col-4">
                        <div class="ucla">
                            <a href="#"><img src="./assets/images/ucla.svg" class="img-fluid" alt="ucla"></a>
                        </div>
                    </div>
                    <div class="col-lg-1 my-lg-4 col-4">
                        <div class="yale">
                            <a href="#"><img src="./assets/images/yale.svg" class="img-fluid" alt="yale"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 my-lg-4 col-4">
                        <div class="barcelona">
                            <a href="#"><img src="./assets/images/barcelona.svg" class="img-fluid" alt="barcelona"></a>
                        </div>
                    </div>
                    <div class="col-lg-3 my-lg-4 col-12">
                        <div class="capetown">
                            <a href="#"><img src="./assets/images/capetown.svg" class="img-fluid" alt="capetown"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Institutions Section End  -->

    <!-- Customers Section Start -->
    <section id="customers" class="text-center">

        <h1>What our customers say</h1>
        <p>Experts associated with high-quality institutions around the globe are providing high-value freelanceservices
            through Kolabtree</p>
        <div class="container">
            <div class="row">
                <div id="Amberly" class="tabcontent col-lg-6 col-sm-12">
                    <div class="feedback">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                    <img src="./assets/images/icon.svg" class="img-fluid" alt="icon">
                                </div>
                                <h6>
                                    I contracted with Scientist,
                                    Food Scientist , Data Scientist.
                                    their overall work was great
                                    and team work was brilliant.
                                </h6>
                                <p><u style="color: #00333b;">READ FULL STORY</u></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Steven" class="tabcontent col-lg-6 col-sm-12" style="display:none">
                    <div class="feedback">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                    <img src="./assets/images/icon.svg" class="img-fluid" alt="icon">
                                </div>
                                <h6>
                                    I contracted with a brilliant
                                    biostatistician and his team that not
                                    only completed my project before
                                    my deadline but also enhanced my
                                    analysis with their insights.
                                </h6>
                                <p><u style="color: #00333b;">READ FULL STORY</u></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Ian" class="tabcontent col-lg-6 col-sm-12" style="display: none;">
                    <div class="feedback">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon">
                                    <img src="./assets/images/icon.svg" class="img-fluid" alt="icon">
                                </div>
                                <h6>
                                    It was great experience to work
                                    with Researcher , Health Economist,
                                    Chemist.they gave best solution
                                    and completed work before deadline.
                                </h6>
                                <p><u style="color: #00333b;">READ FULL STORY</u></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs col-lg-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab">
                                <div class="d-flex mt-3 py-2" onclick="openFeed(event, 'Amberly')">
                                    <div class="avatar">
                                        <img src="./assets/images/avatar.svg" class="img-fluid" alt="avatar">
                                    </div>
                                    <div class="userdetails">
                                        <h5>Amberly Higgins</h5>
                                        <h6>Co-founder and CEO,
                                            Allele
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="tab">
                                <div class="d-flex mt-2 py-2" onclick="openFeed(event, 'Steven')">
                                    <div class="avatar1">
                                        <img src="./assets/images/avatar1.svg" class="img-fluid" alt="avatar1">
                                    </div>
                                    <div class="userdetails1">
                                        <h5>Steven George</h5>
                                        <h6>Co-founder,
                                            Center for Medicine in the Public Interest
                                        </h6>
                                    </div>

                                </div>
                            </div>
                            <div class="tab">
                                <div class="d-flex mt-2 py-2" onclick="openFeed(event, 'Ian')">
                                    <div class="avatar2">
                                        <img src="./assets/images/avatar2.svg" class="img-fluid" alt="avatar2">
                                    </div>
                                    <div class="userdetails2">
                                        <h5>Ian Mulvany</h5>
                                        <h6>Head of Product Innovation,
                                            Sage Publications
                                        </h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Customers Section End -->

        <!-- News Section Start  -->
        <section id="news" class="text-center">
            <h6>Kolabtree in the News</h6>
            <div class="container">
                <div class="row">
                    <div class="card col-lg-3 mx-auto">
                        <div class="card-body">
                            <p>15 Important Trends In
                                Freelancing: Why This
                                Matters Now
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="forbes mx-auto">
                                <img class="card-img-bottom" src="./assets/images/forbes.svg" alt="forbes">
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 mx-auto">
                        <div class="card-body">
                            <p>11 Best Websites to Find Freelance Jobs and Make Extra Money
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="entrepreneur mx-auto">
                                <img class="card-img-bottom" src="./assets/images/entrepreneur.svg" alt="entrepreneur">
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 mx-auto">
                        <div class="card-body communicate">
                            <p>How to better
                                communicate science
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="engineer mx-auto">
                                <img class="card-img-bottom" src="./assets/images/engineer.svg" alt="engineer">
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-3 mx-auto">
                        <div class="card-body economy">
                            <p>Flexible working: Science
                                in the gig economy
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="nature mx-auto">
                                <img class="card-img-bottom" src="./assets/images/nature.svg" alt="nature">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- News Section End  -->

        <!-- Services Section Start  -->
        <section id="services" class="text-center">
            <h6>Customizable Services</h6>
            <p>Take advantage of a wide range of customizable services</p>
            <div class="container">
                <div class="row">
                    <div class="datascience">
                        <div class="card">
                            <img src="./assets/images/datascience.svg" class="card-img-top" alt="datascience">
                            <div class="card-body">
                                <p class="card-text">Data Science</p>
                            </div>
                        </div>
                    </div>
                    <div class="consulting">
                        <div class="card">
                            <img src="./assets/images/consulting.svg" class="card-img-top" alt="consulting">
                            <div class="card-body">
                                <p class="card-text">Scientific Consulting</p>
                            </div>
                        </div>
                    </div>
                    <div class="analysis">
                        <div class="card">
                            <img src="./assets/images/analysis.svg" class="card-img-top" alt="analysis">
                            <div class="card-body">
                                <p class="card-text">Statistical Analysis</p>
                            </div>
                        </div>
                    </div>
                    <div class="food">
                        <div class="card">
                            <img src="./assets/images/food.svg" class="card-img-top" alt="food">
                            <div class="card-body">
                                <p class="card-text">Food Science & Technology</p>
                            </div>
                        </div>
                    </div>
                    <div class="medical">
                        <div class="card">
                            <img src="./assets/images/medical.svg" class="card-img-top" alt="medical">
                            <div class="card-body">
                                <p class="card-text">Medical Writing</p>
                            </div>
                        </div>
                    </div>
                    <div class="research">
                        <div class="card">
                            <img src="./assets/images/research.svg" class="card-img-top" alt="research">
                            <div class="card-body">
                                <p class="card-text">Clinical Research & Consulting</p>
                            </div>
                        </div>
                    </div>
                    <div class="scientific">
                        <div class="card">
                            <img src="./assets/images/scientific.svg" class="card-img-top" alt="scientific">
                            <div class="card-body">
                                <p class="card-text">Scientific Writing</p>
                            </div>
                        </div>
                    </div>
                    <div class="secondary">
                        <div class="card">
                            <img src="./assets/images/secondary.svg" class="card-img-top" alt="secondary">
                            <div class="card-body">
                                <p class="card-text">Secondary Research</p>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <div class="card">
                            <img src="./assets/images/search.svg" class="card-img-top" alt="search">
                            <div class="card-body">
                                <p class="card-text">Literature Search</p>
                            </div>
                        </div>
                    </div>
                    <div class="editing">
                        <div class="card">
                            <img src="./assets/images/editing.svg" class="card-img-top" alt="editing">
                            <div class="card-body">
                                <p class="card-text">Scientific Editing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Services Section End  -->

        <!-- Freelancer Section Start  -->
        <section id="freelancer">
            <div class="container text-start">
                <div class="row">
                    <div class="col-lg-9 col-sm-12">
                        <div class="details mt-4">
                            <h6>Want to become a Kolabtree freelancer?</h6>
                            <p>It's free to register and start working on high-impact projects from clients worldwide.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="service my-lg-4 my-sm-2">
                            <button class="btn btngreen" type="submit">Request a Service</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Freelancer Section End -->

        <!-- Blog Posts Section Start-->
        <section id="blog-posts" class="text-center">
            <h6>Featured Blog Posts</h6>
            <p>Browse profiles of freelance scientists on Kolabtree</p>
        </section>
        <section id="posts">
            <div>
                <div class="container blog-posts">
                    <div class="row slider">
                        <div class="col-xl-12 col-md-12">
                            <div class="posts">
                                <div class="blogimg">
                                    <img src="./assets/images/conference1.svg">
                                </div>
                                <div class="bloglist">
                                    <h6>11 Biotechnology Conferences to Attend in 2019</h6>
                                </div>
                                <div class="postdate">
                                    <span>Post by John Doe</span>
                                    <span>Oct 1, 2019</span>
                                      
                                </div>
                                <div class="blogtext">
                                    <p>The biotechnology market is expected to be worth USD 727.1 billion by 2025, with a growth rate of 7.4%. New 
                                    </p>
                                </div>
                                <div class="readmore">
                                    <p><u>READ MORE</u></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <div class="posts">
                                <div class="blogimg">
                                    <img src="./assets/images/conference2.svg" />
                                </div>
                                <div class="bloglist">
                                    <h6>12 Data Science Conferences to Attend in 2019</h6>
                                </div>
                                <div class="postdate">
                                    <span>Post by John Doe</span>
                                    <span>Oct 1, 2019</span>
                                      
                                </div>
                                <div class="blogtext">
                                    <p>The biotechnology market is expected to be worth USD 727.1 billion by 2025, with a growth rate of 7.4%. New 
                                    </p>
                                </div>
                                <div class="readmore">
                                    <p><u>READ MORE</u></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <div class="posts">
                                <div class="blogimg">
                                    <img src="./assets/images/conference3.svg" />
                                </div>
                                <div class="bloglist">
                                    <h6>Top 10 Pharma Conferences to Attend in 2019</h6>
                                </div>
                                <div class="postdate">
                                    <span>Post by John Doe</span>
                                    <span>Oct 1, 2019</span>
                                      
                                </div>
                                <div class="blogtext">
                                    <p>The biotechnology market is expected to be worth USD 727.1 billion by 2025, with a growth rate of 7.4%. New 
                                    </p>
                                </div>
                                <div class="readmore">
                                    <p><u>READ MORE</u></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <div class="posts">
                                <div class="blogimg">
                                    <img src="./assets/images/conference1.svg">
                                </div>
                                <div class="bloglist">
                                    <h6>11 Biotechnology Conferences to Attend in 2019</h6>
                                </div>
                                <div class="postdate">
                                    <span>Post by John Doe</span>
                                    <span>Oct 1, 2019</span>
                                      
                                </div>
                                <div class="blogtext">
                                    <p>The biotechnology market is expected to be worth USD 727.1 billion by 2025, with a growth rate of 7.4%. New 
                                    </p>
                                </div>
                                <div class="readmore">
                                    <p><u>READ MORE</u></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <div class="posts">
                                <div class="blogimg">
                                    <img src="./assets/images/conference2.svg" />
                                </div>
                                <div class="bloglist">
                                    <h6>12 Data Science Conferences to Attend in 2019</h6>
                                </div>
                                <div class="postdate">
                                    <span>Post by John Doe</span>
                                    <span>Oct 1, 2019</span>
                                      
                                </div>
                                <div class="blogtext">
                                    <p>The biotechnology market is expected to be worth USD 727.1 billion by 2025, with a growth rate of 7.4%. New 
                                    </p>
                                </div>
                                <div class="readmore">
                                    <p><u>READ MORE</u></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <div class="posts">
                                <div class="blogimg">
                                    <img src="./assets/images/conference3.svg" />
                                </div>
                                <div class="bloglist">
                                    <h6>Top 10 Pharma Conferences to Attend in 2019</h6>
                                </div>
                                <div class="postdate">
                                    <span>Post by John Doe</span>
                                    <span>Oct 1, 2019</span>
                                      
                                </div>
                                <div class="blogtext">
                                    <p>The biotechnology market is expected to be worth USD 727.1 billion by 2025, with a growth rate of 7.4%. New 
                                    </p>
                                </div>
                                <div class="readmore">
                                    <p><u>READ MORE</u></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Posts Section End   -->
        <!-- Footer Section Start  -->
        <footer id="footer">

            <div class="moredetails">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 verticalline">
                            <div class="service my-3">
                                <button class="btn btngreen" type="submit">Request a Service</button>
                            </div>
                            <div class="expert my-3">
                                <button class="btn btnteal" type="submit">Become an Expert</button>
                            </div>
                            <div class="friend  my-3">
                                <button class="btn btntransparent" type="submit">Refer a Friend</button>
                            </div>
                            <h6>Got Queries?</h6>
                            <hr style="color: #0ed7a0;">
                            <p><u>Frequently Asked Questions</u></p>
                        </div>


                        <div class="col-xl-3 col-md-6 verticalline1">
                            <ul class="services">
                                <li class="text">Services</li>
                                <hr style="color: #0ed7a0; width:230px;">
                                <li>Data Science & Analytics</li>
                                <li>Scientific Consulting</li>
                                <li>Statistical Analysis</li>
                                <li>Secondary Research</li>
                                <li>Clinical Evaluation Report</li>
                                <li>Literature Search</li>
                                <li>Scientific Writing</li>
                                <li>Scientific Editing</li>
                                <li>Food Science & Technology</li>
                                <li>Medical Writing</li>
                            </ul>
                        </div>
                        <div class="col-xl-3 col-md-6 verticalline2">
                            <ul class="skill">
                                <li class="text1">Experts by Skill</li>
                                <hr style="color: #0ed7a0; width:230px;">
                                <li>Hire a Statistician</li>
                                <li>Freelance Scientist</li>
                                <li>Freelance Food Scientist</li>
                                <li>Freelance Health Economist</li>
                                <li>Freelance Data Scientist</li>
                                <li>Hire a Healthcare Data Analyst</li>
                                <li>Freelance Researcher</li>
                                <li>Hire Data Scientist</li>
                                <li>Freelance Chemist</li>
                                <li>Freelance biostatistician</li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <ul class="follow">
                                <li class="text2">Follow Us</li>
                                <hr style="color: #0ed7a0;">
                                <li><u>Kolabtree Blog</u></li>
                                <div class="social-icons mt-2 mb-2">
                                    <i class="fab fa-twitter  footer-icons footer-circle"></i>
                                    <i class="fab fa-facebook-f  footer-icons footer-circle"></i>
                                    <i class="fab fa-linkedin-in  footer-icons footer-circle"></i>
                                </div>
                                <hr style="color: #0ed7a0;">
                                <div class="address">
                                    <li>Email us: <u>contact@kolabtree.com</u></li>
                                    <li>Devonshire House, 60 Goswell Road,</li>
                                    <li>London, EC1M 7AD</li>
                                </div>
                                <hr style="color: #0ed7a0;">
                                <li class="payments">Our payment partners:</li>
                                <div>
                                    <div class="col-xl-12">
                                        <img src="./assets/images/visa.png" class="visa" alt="visa">
                                        <img src="./assets/images/mastercard.png" class="mastercard" alt="mastercard">
                                        <img src="./assets/images/paypal.png" class="paypal" alt="paypal">
                                        <img src="./assets/images/jcb.png" class="jcb" alt="jcb">
                                        <img src="./assets/images/americanexpress.png" class="americanexpress"
                                            alt="americanexpress">
                                    </div>
                                </div>

                            </ul>
                        </div>
                        <hr style="color: #0ed7a0;">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <ul class="info">
                                <li>Home &nbsp; &VerticalLine;</li>
                                <li>&nbsp; About Us &nbsp; &VerticalLine;</li>
                                <li>&nbsp; Success Stories &nbsp; &VerticalLine;</li>
                                <li>&nbsp; How it Works &nbsp; &VerticalLine;</li>
                                <li>&nbsp; Browse Experts &nbsp; &VerticalLine;</li>
                                <li>&nbsp; Browse Projects &nbsp; &VerticalLine;</li>
                                <li>&nbsp; Testimonials</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <ul class="moreinfo">
                                <li>Terms and conditions &nbsp; &VerticalLine;</li>
                                <li>&nbsp; Privacy Policy &nbsp; &VerticalLine;</li>
                                <li>&nbsp; Cookie Policy &nbsp; &VerticalLine;</li>
                                <li>&nbsp; Mangopay terms and conditions &nbsp; &VerticalLine;</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bgfooter">
                    © 2019
                </div>
                <img src="./assets/images/kolabtree.svg" alt="kolabtree" class="img-fluid">
            </div>

        </footer>

        <!-- Footer Section End -->

        <!-- Optional JavaScript -->
        <script src="./assets/js/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
        <!-- Custom Js  -->
        <script src="./assets/js/script.js"></script>

</body>

</html>