/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {    
    /* Navigation Section Start  */
    .navbar{
        background: #055360;
    }
    .btngreen{
        background: #0ed7a0;
    }
    .navbar-inverse .navbar-nav .nav-link{
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .navbar-inverse .navbar-nav .nav-link:hover{
        color: #0ed7a0;
    }
    .navbar-inverse .navbar-nav .nav-link.active{
        color:  #0ed7a0;
    }
    .dropdown-menu {
        background: #0ed7a0;
    }
    .dropdown-item{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .dropdown-item:hover{
        background: #055360;
        color: #ffffff;
    }
    .account{
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-left: auto; 
        margin-left: 70px;
    }
    .service{
        margin-left: auto;
    } 
    /* Navigation Section End  */

    /* Home Page Section Start */
    #bglightsea{
        background: #055d65;
    } 
    .listyle {
        margin-top: 66px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-left: 0px;
        padding-left: 0px;
    }
    .listyle li{
        list-style-type: none;
        display: inline;
        margin-right: 30px;
    }
    .listyle li a {
        color: #ffffff;
        text-decoration: none;
    }
    .listyle li a:hover{
        color: #0ed7a0;
    }
    .dropdown-toggle{
        text-decoration: none;
        color: #ffffff;
    }
    .dropdown-toggle:hover{
       color: #0ed7a0;
    } 
    #bgdarksea{
        background: #055360;
        margin-top: -16px;
    }
    #bgdarksea .bg-img{
        position:relative;
    }
    #bgdarksea .bg-img:before {
        position: absolute;
        content: '';
        left: -150px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 220px;
        height: 500px;
        background: url(../images/bgdarksea.svg) no-repeat;
        transform: rotateY(180deg);
    }
    .freelance h1{
        font-size: 38px;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        color: #ffffff;
    }
    .freelance p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        font-weight: 300;
        color: #ffffff;
    }
    .form-control-borderless {
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-left: -18px;
        color: #00333b;
    }
    
    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
    .card-body{
        padding: 0rem 1rem;
    }
    .card .btn-sm{
        font-family: 'Roboto', sans-serif;
        font-weight:  500;
        font-size: 14px;
        color: #0ed7a0;
        background: #055360;
    }
    .imgscientists{
        width: 494px;
        height: 369px;
        margin-top: 30px;
        margin-left: 85px;
    }
    /* Home Page Section End  */

    /* Logo Section Start */
    #logo-list{
        margin-bottom: -15px;
    }
    #logo-list .business{
        font-family: 'Roboto', sans-serif;
        font-weight:  400;
        font-size: 27px;
        color: #00333b;
    }
    #logo-list .sage{
        margin-left: 5px;
    }
    #logo-list .technology{
        margin-left: 10px;
    }
    #logo-list .convertize{
        margin-right: 5px;
    }
    #logo-list .threeB{
        margin-left: 5px;
    }
    #logo-list .micinsight{
        width: fit-content;
    }
    /* Logo Section End */

    /* How It Works Section Start */
    #how-it-works{
        background: #E5EDEF;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    #how-it-works h6{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #00333b;
    }
    #how-it-works p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
        padding-bottom: 50px;
    }
    #how-it-works .card:hover{
        box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, 0.4); 
        background-color: rgba(50, 250, 150, 50%);
    }
    #how-it-works .project .one{
        margin-top: -50px;
    }
    #how-it-works .project .bg-img{
        background: #dbf9f1;
        width: 80px;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
        border-radius: 9px;
    } 
    #how-it-works .project .card-img-top{
        width: 60px;
        height: 54px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    #how-it-works .project h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    #how-it-works .project p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
        margin-bottom: -5px;
    }
    #how-it-works .network .two{
        margin-top: -50px;
    }
    #how-it-works .network .bg-img{
        background: #dbf9f1;
        width: 80px;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
        border-radius: 9px;
    } 
    #how-it-works .network .card-img-top{
        width: 60px;
        height: 54px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    #how-it-works .network h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    #how-it-works .network p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
        margin-bottom: -5px;
    }
    #how-it-works .handshake .three{
        margin-top: -50px;
    }
    #how-it-works .handshake .bg-img{
        background: #dbf9f1;
        width: 80px;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
        border-radius: 9px;
    } 
    #how-it-works .handshake .card-img-top{
        width: 60px;
        height: 54px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    #how-it-works .handshake h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    #how-it-works .handshake p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
        margin-bottom: -5px;
    }
    #how-it-works .completedtask .four{
        margin-top: -50px;
    }
    #how-it-works .completedtask .bg-img{
        background: #dbf9f1;
        width: 80px;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
        border-radius: 9px;
    } 
    #how-it-works .completedtask .card-img-top{
        width: 60px;
        height: 54px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    #how-it-works .completedtask h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    #how-it-works .completedtask p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
        margin-bottom: -5px;
    }
    /* How It Works Section End */

    /* Why Kolabtree Section Start */
    #why-kolabtree{
        background: #E5EDEF;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #why-kolabtree h6{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #00333b;
    }
    #why-kolabtree p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
        padding-bottom: 50px;
    }
    #why-kolabtree .phds .img-fluid{
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #why-kolabtree .phds h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
    }
    #why-kolabtree .phds p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
    }
    #why-kolabtree .hours .img-fluid{
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #why-kolabtree .hours h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
    }
    #why-kolabtree .hours p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
    }
    #why-kolabtree .security .img-fluid{
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #why-kolabtree .security h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
    }
    #why-kolabtree .security p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
    }
    #why-kolabtree .happy .img-fluid{
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #why-kolabtree .happy h5{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #00333b;
    }
    #why-kolabtree .happy p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
    }
    /* Why Kolabtree Section End */

    /* Experts Section Start  */
    #experts h6{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 400;
        color: #00333b;
        margin-top: 50px;
    }    
    /* Experts Section End  */

    /* Institutions Section Start */
    #institutions h6{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #00333b;
        margin-top: 50px;
    }
    #institutions .institutions-list {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #institutions .institutions-list .imperial{
        margin-left: 80px;
        width: 120px;
    }
    #institutions .institutions-list .oxford{
        margin-left: 40px;
    }
    #institutions .institutions-list .barcelona{
        margin-left: -40px;
    }
    #institutions .institutions-list .capetown{
        margin-left: -150px;
    }
    
    /* Institutions Section End */

    /* Customers Section Start  */
    #customers{
        background: #055360;
        padding-top: 50px;
    }
    #customers h1{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #ffffff;
    }
    #customers p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        padding-bottom: 15px;
    }
    #customers .feedback{
        padding-bottom: 50px;
        padding-left: 190px;
    }
    #customers .feedback {
        position:relative;
    }
    #customers .feedback :before {
        position: absolute;
        content: '';
        left: -340px;
        top: 100px;
        bottom: -100px;
        margin: auto;
        width: 220px;
        height: 500px;
        background: url(../images/bgdarksea.svg) no-repeat;
        opacity: 0.2;
        transform: rotateY(170deg);
    }
    #customers .feedback .icon{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #customers .feedback .card{
        width: 400px;
        height: 285px;
    }
    #customers .feedback .card h6{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #00333b;
    }
    #customers .feedback .card p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #00333b;
        padding-top: 20px;
    }
    #customers .tabs{
        padding-bottom: 50px;
        padding-left: 60px;
    }
    #customers .tabs .card-body{
        padding: 0px 0px;
    }
    #customers .tabs .d-flex:hover{
        background-color: rgba(50, 250, 150, 50%);
    }
    #customers .tabs .card{
        width: 291px;
        height: 285px;
    }
    #customers .tabs .avatar{
        width: 60px;
        height: 50px;
        padding-left: 5px;
        padding-top: 2px;
    }
    #customers .tabs .userdetails{
        text-align: start;
        padding-left: 10px;
    }
    #customers .tabs .userdetails h5{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #00333b;
    }
    #customers .tabs .userdetails h6{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #00333b;
    }
    #customers .tabs .avatar1{
        width: 90px;
        height: 50px;
        padding-left: 3px;
        padding-top: 10px;
    }
    #customers .tabs .userdetails1{
        text-align: start;
        padding-left: 10px;
    }
    #customers .tabs .userdetails1 h5{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #00333b;
    }
    #customers .tabs .userdetails1 h6{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #00333b;
    }
    #customers .tabs .avatar2{
        width: 80px;
        height: 50px;
        padding-left: 3px;
        padding-top: 8px;
    }
    #customers .tabs .userdetails2{
        text-align: start;
        padding-left: 10px;
    }
    #customers .tabs .userdetails2 h5{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #00333b;
    }
    #customers .tabs .userdetails2 h6{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #00333b;
    }
    /* Customers Section End */

    /* News Section Start  */
    #news{
        padding-top: 50px;
        padding-bottom: 100px;
        background: #ffffff;
    }
    #news h6{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #00333b;
        margin-bottom: 50px;
    }
    #news .card{
        width: 262px;
        height: 225px;
        padding: 0px 0px;
        margin: 0px 0px;
    }
    #news .card p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: 700;
        color: #00333b;
        padding-top: 40px;
    }
    #news .card .communicate{
        padding-top: 20px;
    }
    #news .card .economy{
        padding-top: 20px;
    }
    #news .card:hover{
        cursor: pointer;
    }
    #news .card:hover .card-body{
        background-color: rgba(50, 250, 150, 50%);
        box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, 0.1); 
    }
    #news .card:hover .card-footer{
        background-color: #ffffff;
        box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, 0.1); 
    }
    #news .card .forbes{
        width: 103.75px;
        height: 30px;
        margin-top: 20px;
    }
    #news .card .forbes img{
        margin-top: -20px;
    }
    #news .card .entrepreneur{
        width: 150px;
        height: 30px;
        margin-top: 21px;
    }
    #news .card .entrepreneur img{
        margin-top: -19px;
    }
    #news .card .engineer{
        width: 193px;
        height: 25px;
        margin-top: 27px;
    }
    #news .card .engineer img{
        margin-top: -25px;
    }
    #news .card .nature{
        width: 128.28px;
        height: 30px;
        margin-top: 23px;
    }
    #news .card .nature img{
        margin-top: -23px;
    }
    /* News Section End */

    /* Services Section Start  */
    #services{
        background: #E5EDEF;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    #services h6{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #00333b;
    }
    #services p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #00333b;
        padding-bottom: 25px;
    }
    #services .card:hover{
        box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, 0.4); 
        background: #055360;
    }
    #services .card:hover p{
        color: #0ed7a0;
    }
    #services .datascience{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .datascience .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .datascience p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .consulting{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .consulting .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .consulting p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .analysis{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .analysis .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .analysis p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .food{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .food .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .food p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .medical{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .medical .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .medical p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .research{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .research .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .research p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .scientific{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .scientific .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .scientific p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .secondary{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #services .secondary .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .secondary p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .search{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-left: 296px;
        margin-right: auto;
        
    }
    #services .search .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .search p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #services .editing{
        width: 262px;
        height: 139px;
        margin-left: auto;
        margin-right: auto;
        margin-right: 296px;
    }
    #services .editing .card-img-top{
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #services .editing p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #292a34;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    /* Services Section End */

    /* Freelancer Section Start  */
    #freelancer{
        background-color: #ffffff;
        background-image: url(../images/grey.svg);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #freelancer .container{
        background: #055360;
    }
    #freelancer .details{
        padding-left: 50px;
    }
    #freelancer h6{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 400;
        color: #ffffff;
    }
    #freelancer p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }
    #freelancer .service{
        padding-top: 15px;
        padding-left: 50px;
    }
    /* Freelancer Section End */

    /* Footer Section Start  */
    #footer{
        background: #00333b;
        padding-top: 25px;
    }
    .verticalline {
        height: 325px;
        border-right: 1px solid rgba(50, 250, 150, 20%);
    }
    #footer .moredetails .service{
        width: 242px;
        height: 50px;
        margin-left: -60px;
    }
    #footer .moredetails .service .btngreen{
        width: 153px;
        height: 50px;
    }
    #footer .moredetails .expert{
        margin-right: 25px;
        margin-left: -17px;
    }
    #footer .moredetails .expert .btnteal{
        width: 153px;
        height: 50px;
        color: #0ed7a0;
        background: #055360;
    }
    #footer .moredetails .friend{
        margin-right: 25px;
        margin-left: -17px;
    }
    #footer .moredetails .friend .btntransparent{
        width: 153px;
        height: 50px;
        border: 2px solid #0ED7A0;
        color: #0ed7a0;
    }
    #footer .moredetails h6{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-align: start;
        color: #ffffff; 
        margin-left: -13px;
        margin-bottom: 10px;
        padding-top: 20px;
    }
    #footer .moredetails p{
        font-family: 'Roboto', sans-serif;
        text-align: start;
        font-size: 12px;
        font-weight: 100;
        color: #ffffff;  
        margin-left: -13px;
    }
    .verticalline1 {
        height: 325px;
        border-right: 1px solid rgba(50, 250, 150, 20%);
    }
    #footer .moredetails .services{
        padding-top: 11px;
        list-style-type: none;
        display: block;
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: #ffffff;  
    }
    #footer .moredetails .services li{
        padding-top: 5px;
    }
    #footer .moredetails .services .text{
        font-weight: 700;
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .verticalline2 {
        height: 325px;
        border-right: 1px solid rgba(50, 250, 150, 20%);
    }
    #footer .moredetails .skill{
        padding-top: 11px;
        list-style-type: none;
        display: block;
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: #ffffff;  
    }
    #footer .moredetails .skill li{
        padding-top: 5px;
    }
    #footer .moredetails .skill .text1{
        font-weight: 700;
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    #footer .moredetails .follow{
        padding-top: 11px;
        list-style-type: none;
        display: block;
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: #ffffff;  
    }
    #footer .moredetails .follow li{
        padding-top: 5px;
    }
    #footer .moredetails .follow .text2{
        font-weight: 700;
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    #footer .moredetails .follow .footer-icons {
        font-size: 18px;
        text-align: center;
        padding-top: 3px;
        margin-right: 10px;
    }
    
    #footer .moredetails .follow .footer-circle{
        width: 25px;
        height: 25px;
        color:#00333b;
        background: #FFFFFF;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative; 
    }
    #footer .moredetails .follow .address{
        margin-top: -10px;
        margin-bottom: -10px;
    }
    #footer .moredetails .follow .payments{
        margin-top: -10px;
        padding-bottom: 5px;
    }
    #footer .moredetails .follow .visa{
        width: 50px;
        height: 35px;
        background: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 5px;
        border-radius: 3px;
    }
    #footer .moredetails .follow .mastercard{
        width: 50px;
        height: 35px;
        background: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 5px;
        border-radius: 3px;
    }
    #footer .moredetails .follow .paypal{
        width: 50px;
        height: 35px;
        background: #ffffff;
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 5px;
        border-radius: 3px;
    }
    #footer .moredetails .follow .jcb{
        width: 50px;
        height: 35px;
        background: #ffffff;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 5px;
        border-radius: 3px;
    }
    #footer .moredetails .follow .americanexpress{
        width: 50px;
        height: 35px;
        background: #ffffff;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 3px;
    }
    #footer .moredetails .info{
        list-style-type: none;
        display:inline-flex;
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: #ffffff;  
    }
    #footer .moredetails .moreinfo{
        list-style-type: none;
        display:inline-flex;
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: #ffffff;
    }
    #footer .moredetails .bgfooter{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: #ffffff;
    }

    /* Footer Section End */

}



/*Big size ipad*/
@media (min-width: 768px) and (max-width: 1199.98px) {
     /* Navigation Section Start  */
    .navbar-toggler{
        border: transparent;
        color: transparent;
    }
    .animated-icon {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        border: none;
    }
    .animated-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background:  #0ed7a0;
    }
   
    .animated-icon span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon span:nth-child(2) {
        top: 8px;
        left: 10px;
        width: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon span:nth-child(3) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon span:nth-child(4) {
        top: 24px;
        left: 10px;
        width: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }
    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }
    .animated-icon.open span:nth-child(4) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    } 
    .dropdown-menu{
        width: 35%;
    }
    .navbar-nav .nav-link{
        padding-left: 15px;
    }
    .account{
        padding-left: 15px;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .service{
        padding-left: 15px;
    }
     /* Navigation Section End */

     /* Home Page Section Start  */
    .listyle {
       margin-left: 0px;
       padding-left: 0px;
    }
    .listyle li{
        display: inline;
        font-size: 9px;
    }
    #bgdarksea {
       padding-top: 30px;
    }
    #bgdarksea .bg-img:before {
        left: -75px;
        top: 80px;
    }
    #bgdarksea .freelance h1{
         font-size: 36px;
    }
    #bgdarksea .freelance p{
         font-size: 14px;
    }
    .imgscientists{
        margin-left: 95px;
        margin-bottom: 15px;
    }
     /* Home Page Section End */

      /* Logo Section Start */
    #logo-list{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #logo-list .business{
        padding-left: 160px;
        font-size: 25px;
    }
    #logo-list .sage{
        padding-left: 75px;
    }
    #logo-list .technology{
        padding-left: 50px;
    }
    #logo-list .threeB{
        padding-left: 95px;
    }
    #logo-list .micinsight{
        padding-left: 85px;
    }
    /* Logo Section End */

    /* How It Works Section Start */
    #how-it-works h6{
        font-size: 34px;
    }
    #how-it-works .card{
        margin-bottom: 40px;
    }
    /* How It Works Section Start */

    /* Why Kolabtree Section Start  */
    #why-kolabtree h6{
        font-size: 34px;
    }
    /* Why Kolabtree Section End  */

    /* Experts Section Start  */
    #experts h6{
        font-size: 26px;
    }
    /* Experts Section End  */

    /* Institutions Section Start */
    #institutions h6{
        font-size: 34px;
    }
    #institutions .institutions-list .imperial{
        margin-top: 30px;
        margin-left: 0px;
        width: 128px;
    }
    #institutions .institutions-list .oxford{
        margin-top: 30px;
        margin-left: 0px;
    }
    #institutions .institutions-list .mcgill{
        margin-top: 30px;
    }
    #institutions .institutions-list .ucla{
        margin-top: 30px;
        margin-right: 150px;
        
    }
    #institutions .institutions-list .yale{
        margin-top: 30px;
        margin-right: 30px;
    }
    #institutions .institutions-list .barcelona{
        margin-top: 30px;
        margin-left: 0px;
    }
    #institutions .institutions-list .capetown{
        margin-top: 30px;
        margin-left: auto;
        margin-right: 30px;
    }
    /* Institutions Section End */

    /* Customers Section Start  */
    #customers h1{
        font-size: 34px;
    }
    #customers p{
        font-size: 14px;
    }
    #customers .feedback{
        padding-left: 70px;
    } 
    #customers .feedback .card {
        width: 550px;
        height: 230px;
    }
    #customers .feedback :before{
        left: -230px;
        top: 0;
    }
    #customers .tabs{
        padding-left: 82px;
    }
    #customers .tabs .card {
        width: 550px;
        height: 285px;
    }
    #customers .tabs .userdetails{
        padding-left: 15px;
        padding-top: 10px;
    }
    #customers .tabs .userdetails1{
        padding-left: 0px;
        padding-top: 10px;
    }
    #customers .tabs .userdetails2{
        padding-top: 10px;
        padding-left: 12px;
    }
    #customers .tabs .avatar {
        width: 75px;
        padding-left: 17px;
        padding-top: 7px;
    }
    #customers .tabs .avatar1 {
        padding-top: 7px;
    }
    #customers .tabs .avatar2{
        padding-top: 7px;
        padding-left: 13px;
    }
    /* Customers Section End */

    /* News Section Start  */
    #news h6{
        font-size: 34px;
    }
    #news .card{
        margin: 20px 0px;
    }
    /* News Section End */

    /* Services Section Start */
    #services h6{
        font-size: 34px;
    }
    #services .datascience{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .consulting{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .analysis{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .food{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .medical{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .research{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .scientific{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .secondary{
        margin-bottom: 40px;
        width: 350px;
    }
    #services .search{
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
    #services .editing{
        margin-right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
    /* Services Section End */

    /* Freelancer Section Start   */
    #freelancer h6{
        font-size: 26px;
    }
    #freelancer .service{
        text-align: center;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 20px; 
    }
    /* Freelancer Section End  */

    /* Footer Section Start  */
    .verticalline {
       border-right: transparent;
       height: 170px;
    }
    #footer .moredetails .service{
        display: inline;
        margin-left: 0px;
        margin-right: 0px;
    }
    #footer .moredetails .expert{
        display: inline;
        margin-left: 95px;
        margin-right: 95px;
    }
    #footer .moredetails .friend{
        margin-left: 0px;
        margin-right: 0px;
        display: inline;
    }
    #footer .moredetails h6{
        margin-left: 30px;
    }
    #footer .moredetails p{
        margin-left: 30px;
    }
    .verticalline2{
        border-right: transparent;
    }
    #footer .moredetails .follow{
        margin-left: 0px;
    }
    /* Footer Section End  */
}

/*mobile view*/
@media (max-width: 767px) { 
    /* Navigation Section Start */
    .navbar-toggler{
        border: transparent;
        color: transparent;
    }
    .animated-icon {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        border: none;
    }
    .animated-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background:  #0ed7a0;
    }
   
    .animated-icon span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon span:nth-child(2) {
        top: 8px;
        left: 10px;
        width: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon span:nth-child(3) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon span:nth-child(4) {
        top: 24px;
        left: 10px;
        width: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }
    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }
    .animated-icon.open span:nth-child(4) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    } 
    .dropdown-menu{
        width: 65%;
    }
    .navbar-nav .nav-link{
        padding-left: 15px;
    }
    .account{
        padding-left: 15px;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .service{
        padding-left: 15px;
    }
    /* Navigation Section End */

    /* Home Page Section Start */
    .listyle {
        margin-left: 5px;
        padding-left: 20px;
     }
     .listyle li{
         display: block;
     }  
     #bgdarksea {
        padding-left: 24px;
        padding-top: 25px;
     }
     
     #bgdarksea .bg-img:before {
        left: -70px;
        bottom: 25px;
     }
     #bgdarksea .freelance h1{
         font-size: 30px;
     }
     #bgdarksea .freelance p{
         font-size: 14px;
     }
     #bgdarksea .imgscientists{
        padding-right: 15px; 
        margin-left: 0px;
        margin-bottom: -70px;
        width: 300px;
        height: 300px;
     }
    /* Home Page Section End*/

    /* Logo Section Start */
    #logo-list .business{
        font-size: 21px;
        padding-left: 26px;
    }
    #logo-list{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #logo-list .sage{
        padding-left: 10px;
    }
    #logo-list .threeB{
        padding-left: 25px;
    }
    #logo-list .micinsight{
        padding-left: 10px;
    }
    /* Logo Section End */
    
    /* How It Works Section Start */
    #how-it-works h6{
        font-size: 30px;
    }
    #how-it-works p{
        font-size: 14px;
    }
    #how-it-works .card{
        margin-bottom: 40px;
    }
    /* How It Works Section End */

    /* Why Kolabtree Section Start */
    #why-kolabtree h6{
        font-size: 30px;
    }
    #why-kolabtree p{
        font-size: 14px;
    }
    #why-kolabtree .phds h5{
        font-size: 15px;
    }
    #why-kolabtree .phds p{
        font-size: 11px;
    }
    #why-kolabtree .hours h5{
        font-size: 15px;
    }
    #why-kolabtree .hours p{
        font-size: 11px;
    }
    #why-kolabtree .security h5{
        font-size: 15px;
    }
    #why-kolabtree .security p{
        font-size: 11px;
    }
    #why-kolabtree .happy h5{
        font-size: 15px;
    }
    #why-kolabtree .happy p{
        font-size: 11px;
    }
    /* Why Kolabtree Section End */

    /* Experts Section Start  */
    #experts h6{
        font-size: 22px;
    }
    /* Experts Section End  */

    /* Institutions Section Start */
    #institutions h6{
        font-size: 26px;
    }
    #institutions .institutions-list .imperial{
        margin-top: 30px;
        margin-left: 0px;
        width: 105px;
    }
    #institutions .institutions-list .oxford{
        margin-top: 30px;
        margin-left: 0px;
    }
    #institutions .institutions-list .mcgill{
        margin-top: 30px;
    }
    #institutions .institutions-list .ucla{
        margin-top: 30px;
        margin-right: 30px;
        
    }
    #institutions .institutions-list .yale{
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 15px;
    }
    #institutions .institutions-list .barcelona{
        margin-top: 30px;
        margin-left: 0px;
    }
    #institutions .institutions-list .capetown{
        margin-top: 30px;
        margin-left: auto;
        margin-right: 15px;
    }
    /* Institutions Section End */

    /* Customers Section Start  */
    #customers h1{
        font-size: 30px;
    }
    #customers p{
        font-size: 14px;
    }
    #customers .feedback{
        padding-left: 25px;
    }
    #customers .feedback :before {
        left: -40px;
        top: 10px;
    }
    #customers .feedback .card{
        width: 289px;
        height: 285px;
    }
    #customers .feedback .card h6{
        font-size: 15px;
    }
    #customers .feedback .card p{
        font-size: 11px;
        padding-top: 40px;
    }
    #customers .tabs{
        padding-left: 36px;
    }
    /* Customers Section End*/

    /* News Section Start  */
    #news{
        padding-bottom: 50px;
    }
    #news h6{
        font-size: 30px;
        margin-bottom: 10px;
    }
    #news .card{
        margin: 20px 0px;
    }
    /* News Section End */

    /* Services Section Start  */
    #services{
        padding-bottom: 50px;
    }
    #services h6 {
        font-size: 30px;
    }
    #services p{
        font-size: 15px;
    }
    #services .datascience{
        margin-bottom: 40px;
    }
    #services .consulting{
        margin-bottom: 40px;
    }
    #services .analysis{
        margin-bottom: 40px;
    }
    #services .food{
        margin-bottom: 40px;
    }
    #services .medical{
        margin-bottom: 40px;
    }
    #services .research{
        margin-bottom: 40px;
    }
    #services .scientific{
        margin-bottom: 40px;
    }
    #services .secondary{
        margin-bottom: 40px;
    }
    #services .search{
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    #services .editing{
        margin-right: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Services Section End */
   
    /* Freelancer Section Start   */
    #freelancer .service{
        padding-bottom: 25px; 
        padding-left: 0px;
        text-align: center;
    }
    #services h6{
        font-size: 30px;
    }
    #services p{
        font-size: 15px;
    }
    /* Freelancer Section End  */

     /* Footer Section Start  */
     #footer .moredetails .service{
        margin-left: 38px;
    }
    #footer .moredetails .expert{
        margin-left: 22px;
    }
    #footer .moredetails .friend{
        margin-left: 22px;
    }
    #footer .moredetails h6{
        margin-left: 50px;
    }
    #footer .moredetails p{
        margin-left: 50px;
    }
    #footer .moredetails .services{
        margin-left: 20px;
    }
    #footer .moredetails .skill{
        margin-left: 20px;
    }
    #footer .moredetails .follow{
        margin-left: 20px;
    }
    #footer .moredetails .follow .visa{
        margin-right: 30px;
        margin-top: 10px;
    }
    #footer .moredetails .follow .mastercard{
        margin-right: 30px;
        margin-top: 10px;
    }
    #footer .moredetails .follow .paypal{
        margin-right: 30px;
        margin-top: 10px;
    }
    #footer .moredetails .follow .jcb{
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 20px;
    }
    #footer .moredetails .follow .americanexpress{
        margin-right: 30px;
        margin-top: 20px;
    }
    #footer .moredetails .info {
        font-size: 6px;
        margin-right: 18px;
    }
    #footer .moredetails .moreinfo {
        font-size: 7px;
        margin-right: 18px;
    }
    /* Footer Section End  */
}
